.skills_items{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10vw;
    height: 10vw;
    padding: 2rem 2rem 0.5rem 0.5rem;
    border:solid 2px #FFFFFF;
    background-color: #FFFFFF;
}