.sobre_mi{
    width: auto;
    background-color: #EAF2FD;
}
.sobre_mi{
    background-color: #EAF2FD;
}
.sobre_mi{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}