.contacto_input{
    width: 95%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1% 0 4% 0;
    height: 20%;
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: 50%;
    
}
#contacto-mensaje{
    height: 80px;
}

.contacto_item{
    height: 6rem;
}